/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content: " ";
}
.clearfix:after {
    clear: both;
}
/* For IE 6/7 only */
.clearfix {
    *zoom: 1;
}

/* Utils */
.mt6 {
    margin-top: 6em;
}
